.home-tab{
    min-width: 245px;
}
.ibox-title-background{
    /*background-color: #1ab394;*/
    border-color: #1ab394;
    /*color: white;*/
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
}
.border-yellow
{
    border-color: #f8ac59;
}
.inline-dropdown
{
    min-width: 150px;
}
