body{
	margin:auto;
	height: 1000px;
	text-align: center;
	padding:0px;
	font-family: verdana;
	background:#fff;
	width:100%;
	max-width: 1000px;
	border-left:1px solid #ddd;border-right:1px solid #ddd;
	
}

h1 {
    font-family: verdana;
    font-size: 20px;
    font-weight: bolder;
    color: #000;

}

.logoheader{
	border-bottom: 1px solid #000;
	width:100%;
	max-width: 1000px;
	
}

.logoheader img{

    width: 100%
}

#headercontant{
	
	font-size: 25px;
	font-weight: bold;
	color: #f00;


}



.btnbg{
	float: left;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	background: #0061ff;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	
	

}
.inputbg{
	margin-top:3px;
	text-align: center;
	font-size: 12px;
	float: left;
	border: 1px solid #0061ff;
	border-radius: 3px 3px 3px 3px;
	color: #000;
	width:40%;
	max-width:120px;
	height:20px;

	
}

.verifysection{
	margin-top: 20px;
	margin-bottom: 10px;

}


.verifyform{
	margin-top: 20px;
	margin-bottom: 10px;
	height: 170px;

}

.verifysection img{
	max-width: 100px;
	width: 40%;
	float: left;
	padding-right: 5px;
		
}

.Text-1{
	margin: 5px;
	text-align: left;
	padding-right: 1000px;
	
	font-size: 12px;
	font-weight: bold;

}

.resultText{
	margin: 5px;
	text-align: left;
	font-size: 14px;
	font-family: Helvetica;
	font-weight: bold;
	color: #f30;

}
.context1{
	text-align: justify;
	
	margin-top: 10px;
	padding: 10px;

}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,0,0,1) 2%, rgba(24,221,159,1) 2%, rgba(25,25,25,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 2%,rgba(24,221,159,1) 2%,rgba(25,25,25,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,1) 2%,rgba(24,221,159,1) 2%,rgba(25,25,25,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px 10px 10px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
background: rgb(25,25,25); /* Old browsers */
background: -moz-linear-gradient(top, rgba(25,25,25,1) 1%, rgba(24,221,159,1) 98%, rgba(0,0,0,1) 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(25,25,25,1) 1%,rgba(24,221,159,1) 98%,rgba(0,0,0,1) 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(25,25,25,1) 1%,rgba(24,221,159,1) 98%,rgba(0,0,0,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }